# Matlab autosaves
**.asv

# For Mac users
**.DS_Store

# Model output files
**.nc
**.mat

# DASH output files
**.grid
**.ens

# External PSM codes
BAYMAG
BAYSPAR
BAYSPLINE

# Working folder
working

# Allow various pre-computed values
!input_data/proxy_records/proxies.nc
!estimates/**.nc
!R-error-variances/**.nc

# Working folders for parameter validation
parameter-validation/working
parameter-validation/results
parameter-validation/plots

# preprocessed model output folder
input_data/model_output/preprocessed/